/*basic settings*/
body {
    background-color: #031017;
    color: #eedbd9;
}

/*divs*/
.container{
    border-radius: 15px;
    margin-top: 4%;
}

.col{
    background-color: #f4887c;
    border-radius: 15px;
    margin: 1%;
    text-align: center;
}

.div-append::after{
    content: "✚";
}

.div-link::after{
    font-family: "Arial";
    content: "\2197";
}

/*text*/

h1 {
    margin-bottom: 5%;
}

/*links*/
a::after {
    content: "\2197";
}

a {
    text-decoration: none;
    color: #f4887c;
}

a:hover {
    color: #eedbd9;
}

.row a{
    color: #eedbd9;
}

.row a::after{
    content: "";
}

.row a:hover {
    background-color: #eedbd9;
    color: #f4887c;
}

/*images*/
#img_profile{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5%;
    border-color: #eedbd9;
    margin-right: 2%;
    float: left;
}
