/*basic settings*/

body {
    background-color: white;
color: black;
padding: 4%;
box-sizing: border-box;
min-height: 100vh;
font-family: Arial;
}

/*border-image-source: linear-gradient(to left, #20ffcf, #30dcff, #743ad5, #f637b0);
border-image-slice: 1;
border-width: 5px;*/

/*divs*/
.container{
    border-radius: 15px;
    width: 70%;
    margin-left: 30%;
}

.firstrow {
    margin-left: -1.2rem;
}

.row {
    font-family: Arial;
}

@media screen and (max-width: 800px)  {
    .description, .description-index {
        width: 100%!important;
        height: 100%!important;
        position: relative !important;
    }
    .container{
        width: 100%;
        margin-left: 0%;
    }
    .header{
        width: 40%!important;
    }
    .bio-short{
        margin: 2%;
    }
    .description > h1, .description > p {
        position: relative!important;
        float:none!important;
        margin-left: 4%!important;
        width: 95%!important;
    }

    #img_profile{
        width: 45% !important;
        height: 45% !important;
        margin-left: .5rem;
    }

    .social-media-icons {
        margin-top: 85%;
        width: 300%;
        margin-left: -140%;
    }

    .fa-brands {
        font-size: xx-large !important;
        margin-right: .3rem;
    }
}

.description {
    width: 25%;
    height: 25%;
    position:fixed;
    word-wrap: break-word;
}

.description-index {
    width: 25%;
    height: 25%;
    margin-bottom: 3.5%;
}

.bio-short {
    float: left;
    padding-top: 1rem;
    font-family: Arial;
}

#introduction {
    padding-top: 1rem;
}

/*title/header*/

.header{
    float:right;
    width: 20%;
    margin-right: 2%;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-weight: 500;
    font-family: monospace;
    margin-top: 1rem;
}

/*links*/

a:hover {
color: black;
}

/*publication entries*/

.publisher {
    font-style: italic;
}

.hashtag {
    border-radius: 15px;
    border-color: black;
    border-width: thin;
    border-style: solid;
    padding: 3px;
    white-space: nowrap;
}

/*images*/

#img_profile{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    display: block;
    margin-right: auto;
}

/*buttons/icons*/

.social-buttons a {
    box-shadow: none;
}

.social-buttons a::after {
    content: "";
}

.social-buttons button {
    background-color: #30dcff;
    display: inline !important;
}

.social-buttons button:hover {
    background-color: white;
    color: #04141d;
}

.fa-brands {
    font-size: larger;
    padding-right: .3rem;
}